*{
	margin:0;
	padding:0;
}
body{
	font-family:"微软雅黑";
	color:#14191e;
}
a{
	text-decoration: none;
}
@font-face{
	font-family: 'iconfont';
	src:url('../img/font/iconfont.eot');
	src:url('../img/font/iconfont.eot') format('embedded-opentype'),
	url('../img/font/iconfont.woff') format('woff'),
	url('../img/font/iconfont.ttf') format('truetype'),
	url('../img/font/iconfont.svg#iconfont') format('svg');
}
.main{
	width:1200px;
	height:460px;
	margin:30px auto;
	overflow: hidden;	
	background-repeat: no-repeat;
}
.banner{
	width:1200px;
	height:460px;
	margin:30px auto;
	overflow: hidden;
}
.item-slider{
	width:1200px;
	height:460px;
	float: left;	
}
.slider1{
	background-image: url(../img/bg1.jpg);	
}
.slider2{
	background-image: url(../img/bg2.jpg);
}
.slider3{
	background-image: url(../img/bg3.jpg);
}
.slider-active{
	display: block;
} 
.button{
	width:40px;
	height: 80px;
	position: absolute;
	left:244px;
	background: url(../img/arrow.png) center center no-repeat;
	top: 50%;
	margin-top: -40px;
	transform: rotate(180deg);
}
.button:hover{
	background-color: #333;
	opacity: 0.8;
	filter: alpha(80);
}
.next{
	left:auto;
	right:45px;
	transform: rotate(0);
}
.dots{
	position: absolute;
	right:48px;
	bottom: 92px;
	line-height: 12px;
}
.dots span{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color:rgba(7,17,27,0.4);
	margin-left:8px;
	box-shadow: 0 0 0 2px rgba(255,255,255,0.8) inset;
	cursor: pointer;
}
/* 高亮显示,span与active之间没有空格*/
.dots span.active{
	background-color: #fff;
	box-shadow: 0 0 0 2px rgba(7,17,27,0.4) inset;
}

.menu-box{
	width:210px;
	height:430px;
	position: absolute;
	background:rgba(7, 17, 27, 0.5);
	margin:30px auto;
	opacity: 0.5;
	z-index: 1px;
}

/*为什么不能直接用.menu-item进行设置*/
.menu-content{
	position: absolute;
	width:200px;
	height: 430px;
	margin:30px auto;
}
.menu-item{
	/* width:200px ;可以直接继承父级元素menu-content的宽度，如果还要再继续设置的话就会出错*/
	height: 64px;
	line-height: 66px;/*行高大于盒子高度，border-bottom就会不在行下*/
	cursor: pointer;
	padding: 0 24px;	
}
.menu-item a{
	display: block;
	color: #fff;
	padding: 0.8px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	height: 63px;
	font-size:16px;
	position: relative;
}
.menu-item i{
	position: absolute;
	right:32px;
	top:2px;
	color:rgba(255,255,255,0.5);
	font-style:normal;
	font-weight:normal;
	font-family: 'iconfont';
	font-size:25px;
}
.sub-menu{
	height: 430px;
	width:  730px;
	position: absolute;
	left:220px;
	background: url(../img/fe.png);
	margin:30px auto;
	z-index: 500;
}
.sub-menu-item{
	left:20px;
	position: absolute;	
}
/*隐藏左侧菜单导航*/
div.hide{
	display: none;
}
.menu-list{
	list-style: none;
}
ul li:first-child{
	color:red;
	margin-top: 20px;
	margin-bottom: 25px;
	font-weight: 800;
}
ul .item-list{
	margin-bottom: 25px;
	font-size: 18px;
	font-family: Arial, Helvetica, sans-serif;
}
ul span.menu-item-nav{
	font-weight: 800;
	font-size: 16px;
}
ul .item-content{
	font-size: 16px;
	color:rgba(32, 32, 28, 0.603);
}
ul span.item-divide{
	margin:auto 12px;
	color:gray;
}